mixin sAboutPage(data)
	// start sAboutPage
	+b.sAboutPage.section#sAboutPage&attributes(attributes)
		.container
			+e.top-row.row.align-items-center
				.col-xl-6
					+e.img
						img(loading="lazy" src="img/@2x/sAboutPage-img.jpg" alt="")
				.col-xl-6.col-xxl-5.col-base-4.offset-xxl-1
					+e.txt
						p Принципы нашей работы строятся на предоставлении клиентам максимально выгодных условий сотрудничества и качественного обслуживания. Компания Саннитойс предлагает Вам более 3000 наименований товаров, произведенных в Тайване, Гонконге, России, Польше и Китае. Наша активная маркетинговая и инновационная политика позволяет довести до российского потребителя все новинки, появляющиеся на мировом рынке игрушек и товаров для детей.
			+e.pills-row.row
				+sAboutPagePill(1)
					| Сотрудничаем только с
					|
					b юридическими лицами и ИП
				+sAboutPagePill(2)
					| Минимальная сумма
					br
					| заказа
					|
					b 30000 руб
				+sAboutPagePill(3)
					| У нас прямые поставки,
					|
					br
					b низкие цены
			+e.txt-box
				+e.tb-row.row
					.col-xl-6.col-base-5
						+e.tb-txt
							p
								b Создавая этот сайт, мы стремились дать Вам возможность оперативно знакомиться с нашими товарами, оформить заказ, получить достоверную информацию о новинках и ценах, быть в курсе всех важных событий на рынке игрушек. В условиях быстроразвивающихся высоких технологий мы стремимся идти в ногу со временем и предлагаем вам мощный, современный инструмент, позволяющий не выходя из офиса размещать заказы, пользуясь актуальной информацией о наличии товара, ценах и новинках
					.col-xl-6.offset-base-1.col-base-5
						+e.tb-txt
							p Все игрушки для детей оптом, представленные в нашем ассортименте, прошли полный контроль на соответствие параметрам качества. У нас Вы можете найти игры и красивые, интересные игрушки на любой вкус, для детей самого разного возраста. Обучающие игрушки для самых маленьких и для детей постарше, сопутствующие детские товары, множество популярных детских игрушек и высокий уровень сервиса. Уже второе десятилетие подряд мы поставляем товары для детей и теперь предлагаем Вам стать нашими партнерами! Если Вас интересуют игрушки мелким оптом или же наоборот – крупный опт, игрушки от «Саннитойс» всегда окажутся именно тем товаром, который вы желали бы получить
			+e.bordered
				+e.b-row.row
					.col-xxl-6.col-base-5
						+e.b-txt
							p Компания «Саннитойс» предлагает Вам взаимовыгодное сотрудничество, учитывая специфику Ваших требований и оптовых продаж. Детские игрушки оптом по низким ценам – это выгодные условия для покупки и хорошая прибыль! Мы продаем только востребованный товар от российских, европейских и китайских производителей, который отлично подойдет для любого магазина детских игрушек.
							p
								b Полки Ваших магазинов будут заполнены красивой интересной, разнообразной и качественной продукцией и принесут Вам и Вашим покупателям массу положительных эмоций, порадуют родителей и особенно детей!
					.col-xxl-6.offset-base-1
						+e.blue-box
							+e.bb-row.row.align-items-center
								.col-sm-auto
									+e.bb-img
										img(loading="lazy" src='img/svg/children.svg' alt="")
								.col-sm
									+e.bb-txt Полки Ваших магазинов будут заполнены красивой интересной, разнообразной и качественной продукцией и принесут Вам и Вашим покупателям массу положительных эмоций, порадуют родителей и особенно детей!
	// end sAboutPage

mixin sAboutPagePill(imgNum)
	.col-lg-4
		+e.pill
			+e.p-sub-row.row.align-items-center
				.col-sm-auto.col-lg-12.col-xl-auto
					+e.p-img
						img(loading="lazy" src=`img/svg/sAboutPage-${imgNum}.svg` alt="")
				+e.p-txt.col-xl.col-lg-12.col-sm
					block

