.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-left {
	font-size:(25/10)*1rem;
	width:(21/25)*1em;
}
.icon-arrow-right {
	font-size:(25/10)*1rem;
	width:(21/25)*1em;
}
.icon-cross {
	font-size:(500/10)*1rem;
	width:(343.75/500)*1em;
}
.icon-zoom {
	font-size:(16/10)*1rem;
	width:(17/16)*1em;
}
