mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		+b.section-title
			h2 О нашей компании
		+e.txt-box
			p Принципы нашей работы строятся на предоставлении клиентам максимально выгодных условий сотрудничества и качественного обслуживания. Компания Саннитойс предлагает Вам более 3000 наименований товаров, произведенных в Тайване, Гонконге, России, Польше и Китае. Наша активная маркетинговая и инновационная политика позволяет довести до российского потребителя все новинки, появляющиеся на мировом рынке игрушек и товаров для детей.
			+e.blue-box
				| Сотрудничаем только с юридическими лицами и ИП.
				|
				br.d-none.d-md-block
				| Минимальная сумма заказа 30000 руб.
			p Создавая этот сайт, мы стремились дать Вам возможность оперативно знакомиться с нашими товарами, оформить заказ, получить достоверную информацию о новинках и ценах, быть в курсе всех важных событий на рынке игрушек. В условиях быстроразвивающихся высоких технологий мы стремимся идти в ногу со временем и предлагаем вам мощный, современный инструмент, позволяющий не выходя из офиса размещать заказы, пользуясь актуальной информацией ....
		+e.yellow-link(href='#') Подробнее...
	// end sAbout