mixin sHit(data)
	// start sHit
	+b.SECTION.sHit--js(class=`${data.addClasses || ''}`).section#sHit&attributes(attributes)
		.container
			+e.row.row
				.col-sm-auto
					+b.section-title
						h2=data.title
				if data.new
					.col-sm.align-self-center
						+e.new(href="#") Новые поступления
				.col-lg-auto.ms-lg-auto
					+b.arrow-col.col-lg-auto
						+arrow()
			+e.slider-wrap
				.swiper-container.sHit-slider-js
					.swiper-wrapper
						-for(var i = 0; i < 10; i++)
							.swiper-slide
								+catalogItem()
			if data.footer
				+e.footer-row.row
					.col-auto
						+e.f-btn(href='#')=`${data.fBtnTxt || 'Смотреть все хиты продаж'}`

	// end sHit

mixin catalogItem()
	+b.catalog-item
		+e.img(href="#")
			img(loading="lazy" src='img/@2x/catalog-item.png' alt="")
		+e.top-row.row.align-items-center
			.col
				+e.yellow BELA (БЕЛА)
			.col-auto
				+e.gray
					span
						| Арт:
						|
					b Г11340
		+e.title(href='#')
			| Конструктор
			br
			| Гарри Поттер Экспекто Патронум 139дет
		+e.chars
			+catalogItemChar('Коробка', '84 шт.')
			+catalogItemChar('Блок', '84 шт.')
			+catalogItemChar('В наличии', 'Более коробки')
			+catalogItemChar('Тема', 'Гарри Поттер', '#FFBD12')
		+priceRow()

mixin priceRow(oldPrice, bigBtn)
	+b.price-row.row.align-items-center
		.col
			if oldPrice
				+e.old-price 12 535
			+e.price 535 ₽
		.col-auto
			+e.light-btn(type='button') -
		.col-auto.align-self-center
			+e.amount.text-center 1
		.col-auto
			+e.light-btn(type='button') +
		.col-auto
			if bigBtn
				+e.cart-btn-big(href="#")
					+e.c-icon
						img(loading="lazy" src='img/svg/cart-big.svg' alt="")
					span.d-none.d-sm-inline В корзину
			else
				+e.cart-btn(href="#")
					img(loading="lazy" src='img/svg/cart-white.svg' alt="")

mixin catalogItemChar(key,val, color='#1F1F1F')
	+e.char-row.row
		+e.key-col.col-auto=key
		+e.val-col.col(style=`color: ${color};`)=val