// start .sHit
.sHit {
	--sPT: #{rem(30)};
	--sPB: #{rem(30)};
	--sTPB: #{rem(0)};

	&__row{
		--bs-gutter-y: #{rem(20)};

		--bs-gutter-x: #{rem(24)};
		@include media-breakpoint-up(xxl){
			--bs-gutter-x: #{rem(43)};
		}
		padding-bottom: rem(27);
	}

	.section-title {

	}
	&__new{
		font-family: $mono;
		font-weight: bold;
		font-size: rem(20);
		line-height: 1;
		color: $yellow;

		padding: rem(5) 0;
		position: relative;

		&:after{
			@include mt();
			content: '';
			position: absolute;
			left: rem(5);
			bottom: 0;
			width: calc(100% - 10px);
			height: 1px;
			background-color: $gray-950;
		}

		&:hover{
			&:after{
				background-color: $primary;
			}
		}

		@include media-breakpoint-up(lg){
			top: 5px;
		}
	}
	&__slider-wrap{

		.swiper-container{
			@include media-breakpoint-down(md){
				overflow: visible;
			}
		}
		.swiper-wrapper{}
		.swiper-slide{
			width: rem(300);
			max-width: 100%;

			@include media-breakpoint-up(sm){
				width: calc(100%/2 - 24px*1/2);
			}
			@include media-breakpoint-up(lg){
				width: calc(100%/3 - 24px*2/3);
			}
			@include media-breakpoint-up(xl){
				width: calc(100%/4 - 24px*3/4);
			}
			@include media-breakpoint-up(base){
				width: calc(100%/6 - 24px*5/6);
			}
		}
	}
	//
	&__footer-row{
		--bs-gutter-y: #{rem(12)};
		padding-top: rem(32);
	}
	&__f-btn{
		@extend .btn;
		@extend .btn-lemon;

		font-family: $mono;
		font-weight: bold;
		font-size: rem(20);
		line-height: (25/20);

		color: $black;
	}
} // end.sHit

.catalog-item{

	padding: rem(24);
	@include media-breakpoint-up(base){
		padding: rem(25) rem(24) rem(15) rem(24);
	}
	background: $white;
	border: 1px solid $gray-420;

	min-height: 100%;
	display: flex;
	flex-direction: column;
	&__img{
		@extend .accept-ratio-frame;
		padding-top: (167/232) * 100%;
		cursor: pointer;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
			object-fit: none;
		}

		margin-bottom: rem(27);
	}
	&__top-row{
		--bs-gutter-x: #{rem(12)};
		--bs-gutter-y: #{rem(6)};

		padding-bottom: rem(12);
	}
	&__yellow{
		font-size: rem(12);
		line-height: (14/12);
		color: $yellow;
	}
	&__gray{
		font-size: rem(14);
		line-height: (17/14);

		span{
			margin-right: rem(4);
		}
		b{

		}
	}
	&__content-wrap {
		position: relative;
	}
	&__title{
		display: block;
		text-align: center;
		line-height: (21/16);
		color: $black;

		margin-bottom: rem(20);
		&:before {
			content: '';
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	&__chars{
		padding-bottom: rem(23);
	}
	&__char-row{
		padding-bottom: rem(10);
		&:last-child{
			padding-bottom: 0;
		}
	}
	&__key-col{
		width: 45%;
		@include media-breakpoint-up(xxl){
			width: 33%;
		}

		font-size: rem(12);
		line-height: (14/12);
	}
	&__val-col{
		font-size: rem(12);
		line-height: (14/12);
		color: $gray-950;
	}
	&__{}
}

//
.price-row{
	--bs-gutter-x: #{rem(6)};
	&__price{
		font-family: $mono;
		font-weight: bold;
		font-size: rem(17);
		letter-spacing: -0.1px;
		line-height: (23/18);
		color: $black;
	}

	&__old-price{
		font-family: $mono;
		font-size: rem(14);
		line-height: (19/14);
		text-decoration-line: line-through;
		color: rgba($black, .5);
	}
	//
	&__light-btn{
		@extend .btn;
		@extend .btn-light;

		width: rem(30);
		height: rem(30);
		line-height: rem(30);
		border-radius: rem(8);
		padding: 0;
		text-align: center;

		font-family: $mono2;
		color: $gray-950;
	}
	&__amount{
		font-family: $mono;
		font-weight: bold;
		font-size: rem(18);
		line-height: (23/18);
		color: $black;

		display: inline-block;
		min-width: 0;
		//width: rem(40);
		padding: 0;
		border: 0;
	}
	&__cart-btn{
		@extend .btn;
		@extend .btn-primary;
		padding: 0;

		width: rem(33);
		height: rem(33);
		border-radius: rem(5.5);

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 90%;
			max-height: 90%;
		}
	}

	//
	&__cart-btn-big{
		@extend .btn;
		@extend .btn-primary;
		&--w100{
			width: 100%;
		}

		border-radius: rem(8);

		display: inline-flex;
		align-items: center;
		justify-content: center;

		padding: rem(6.9);
		@include media-breakpoint-up(sm){
			min-width: rem(200);
			padding: rem(12) rem(20);
		}

		font-family: $mono;
		font-weight: bold;
		font-size: rem(18);
		line-height: (23/18);
		color: $white;
	}
	&__c-icon{
		width: rem(24);
		height: rem(24);
		@include media-breakpoint-up(sm){
			margin-right: rem(10);
		}

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}

	//

}