mixin sHit(data)
	// start sHit
	+b.SECTION.sHit--js.section#sHit&attributes(attributes)
		.container
			+e.row.row
				.col-lg-auto
					+b.section-title
						h2=data.title
				if data.new
					.col-lg.align-self-end
						+e.new(href="#") Новые поступления
				.col-lg-auto
					+b.arrow-col.col-lg-auto
						+arrow()
			+e.slider-wrap
				.swiper-container.sHit-slider-js
					.swiper-wrapper
						-for(var i = 0; i < 10; i++)
							.swiper-slide
								+catalogItem()
	// end sHit

mixin catalogItem()
	+b.catalog-item
		+e.img(href="#")
			img(loading="lazy" src='img/@2x/catalog-item.png' alt="")
		+e.top-row.row
			.col
				+e.yellow BELA (БЕЛА)
			.col-auto
				+e.gray
					span
						| Арт:
						|
					b Г11340
		+e.title Конструктор Гарри Поттер Экспекто Патронум 139дет
		+e.chars
			+catalogItemChar('Коробка', '84 шт.')
			+catalogItemChar('Блок', '84 шт.')
			+catalogItemChar('В наличии', 'Более коробки')
			+catalogItemChar('Тема', 'Гарри Поттер', '#FFBD12')
		+e.foot-row.row.align-self-center
			.col
				+e.price 535 ₽
			.col-auto
				+e.sub-row.row
					.col-auto
						+e.light-btn(type='button') -
					.col-auto
						+e.amount 1
					.col-auto
						+e.light-btn(type='button') +
					.col-auto
						+e.cart-btn(href="#")
							img(loading="lazy" src='img/svg/cart-white.svg' alt="")

mixin catalogItemChar(key,val, color='#1F1F1F')
	+e.char-row.row
		+e.key-col.col-auto=key
		+e.val-col.col(style=`color: ${color};`)=val