// start .sCerts
.sCerts {
	--sPT: #{rem(28)};
	--sPB: #{rem(30)};
	--sTPB: #{rem(40)};

	@include media-breakpoint-up(xxl){
		min-height: 100%;
		display: flex;
		flex-direction: column;
	}

	.section-title{
		h2{}
	}
	&__row{
		--bs-gutter-x: #{rem(24)};
		--bs-gutter-y: #{rem(24)};
		padding-bottom: rem(22);
	}
	&__yellow-link{
		margin-top: auto;

		font-family: $mono;
		font-weight: bold;
		font-size: rem(20);
		line-height: 1;
	}
	//
	&__{}
	&__{}
} // end.sCerts

.cert-item{
	background: $gray-100;
	border-radius: rem(10);

	padding: rem(30) rem(16) rem(32);
	@include media-breakpoint-up(lg){
		padding: rem(30) rem(24) rem(32);
	}

	&__img{
		@extend .accept-ratio-frame;
		padding-top: (324/227) * 100%;
		margin-bottom: rem(23);
	}
	&__descr{
		font-size: rem(14);
		line-height: (1.55);
		text-align: center;
	}

	//
	&__{}
	&__{}
}