//- WP menu
mixin mnu()
	-
		var nav= { 
			"Прайс-лист":"#",
			"Категории":"#",
			"Акции и скидки":"#",
			"Контакты":"#",
			}
	ul.menu
		each linkPatch, linkName in nav
			li.menu-item: a(href=linkPatch)= linkName

//- menu